__pycache__/
*.pyc
*.pyo

.venv/
env/
venv/
        
*.swp
*.swo
*.swn
*~
*.ipynb

*.log


pip-log.txt
pip-delete-this-directory.txt


.cache/
pytest_cache/


*.dockerfile
docker-compose.override.yml


.ipynb_checkpoints/


.DS_Store
Thumbs.db
